service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      function isSignedIn() {
          return request.auth != null;
      }
      
      allow create: if isSignedIn();
      allow update: if request.auth.uid == userId;
      allow read: if isSignedIn();
    }
  }
}
