<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex>
    <h1 class="mat-display-1">Flint - Fast Firebase SaaS Boilerplate</h1>
    
      Focus on adding value, not duplicating solved problems that apply to virtually every SaaS Platform:
      <ul>
        <li>Sign Up Page that accepts a credit card.</li>
        <li>Password reset/forgot password</li>
        <li>Basic Authentication</li>
        <li>Declarative pricing page</li>
      </ul>

      And coming soon:
      <ul>
        <li>User profile management</li>
        <li>Account suspension due to non-payment/declined cards</li>
        <li>Social/SSO login/registration</li>
        <li>Automatic welcome emails</li>
        <li>Scalable role based permissions</li>
      </ul>
    
  </div>
  <div fxFlex></div>
</div>