<mat-toolbar color="" class="mat-elevation-z6">  
  <mat-toolbar-row>
      <span>
        <a mat-button>
          <mat-icon>offline_bolt</mat-icon>
          Flint
        </a>
        <span *ngIf="user | async">
            <a mat-button>Projects</a>
            <a mat-button>Users</a>
        </span>
      </span>

      <!-- This fills the remaining space of the current row -->
      <span class="navbar-center"></span>
    
      <span *ngIf="auth.user | async as user; else notAuthenticated">
        <button (click)="logout()" mat-button>
            Logout
        </button>
      </span>
      <ng-template #notAuthenticated>
        <a [routerLink]="['/auth/login']" mat-button>
            Login
        </a>
        <a [routerLink]="['/auth/sign-up']" mat-flat-button>
            Sign Up
        </a>  
      </ng-template>
  </mat-toolbar-row>
</mat-toolbar>