<mat-toolbar color="" class="mat-elevation-z6">  
  <mat-toolbar-row>
      <span>
        <a mat-button [routerLink]="['/']">
          <mat-icon>offline_bolt</mat-icon>
          Flint
        </a>
        <span *ngIf="auth.user | async; else notAuthenticatedLeft">
            <a mat-button>Dashboard</a>
        </span>
        <ng-template #notAuthenticatedLeft>
            <a mat-button [routerLink]="['/pricing']">
                Pricing
            </a>
        </ng-template>
      </span>

      <!-- This fills the remaining space of the current row -->
      <span class="navbar-center"></span>
    
      <span *ngIf="auth.user | async; else notAuthenticatedRight">
        <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        
      </span>
      <ng-template #notAuthenticatedRight>
        <a [routerLink]="['/auth/login']" mat-button>
            Login
        </a>
        <a [routerLink]="['/auth/sign-up']" mat-flat-button>
            Sign Up
        </a>  
      </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #appMenu="matMenu" yPosition="below">
    <button mat-menu-item>Profile</button>
    <button (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>
      
      