.navbar-center {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.mat-toolbar {
  margin-bottom: 40px;
}

.mat-menu-panel {
  margin-top: 50px;
  min-width: 280px !important;
}