<div fxLayout fxLayoutAlign="center center">
  <div fxFlex></div>
  <mat-card fxFlex>
    <mat-card-title>
      Reset Password
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <div class="text-xs-center pb-1">
          <p class="mat-text-muted">Enter your email and we'll send you instructions on how to reset your password.</p>
        </div>
        <div  fxLayout="column"  fxLayoutAlign="space-around">
          <div class="pb-1">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Email address" type="email" [formControl]="form.controls['email']">
            </mat-form-field>
            <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="mat-text-warn">You must include an email address.</small>
            <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="mat-text-warn">You must include a valid email address.</small>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Reset Password</button>
        </div>
      </form>
      </mat-card-content>
      <mat-card-actions>
        <div fxFlex>
            <a [routerLink]="['/auth/login']" mat-button>Sign In</a>
        </div>
        <div fxFlex></div>
        <div fxFlex>

            <a [routerLink]="['/auth/sign-up']" mat-button>Sign up FREE</a>
        </div>
      </mat-card-actions>
  </mat-card>
  <div fxFlex></div>
</div>
  